* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
.main-container .container {
  flex: 1;
}
.main-container .editor-container {
  display: flex;
  gap: 20px;
}
.editor-container .code-container {
  flex: 1;
  border: 1px solid #000;
}
.code-container.collapsed {
  flex: 0;
}
.code-container.collapsed .CodeMirror-scroll {
  position: absolute !important; 
  overflow: hidden !important;
}
.main-container .output-container {
  border: 1px solid #000;
  padding: 10px;
}
.editor-container .title {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  gap: 20px;
}
.title .close {
  padding: 5px;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  flex-grow: 0;
}
.cm-s-material.CodeMirror {
  height: 50vh;
}
.code-output {
  height: 100%;
}